<!DOCTYPE html>
<html>
<head>
	<title> HomePage </title>
</head>
<body>
  <div>
    <p><a href="{{url_for('log_in')}}"> log in </a></p>
    <p><a href="{{url_for('quiz')}}"> quiz </a></p>
  </div>
	<p>stuff & stuff </p>
	<div class="everything">
        <h1> Tips : </h1>
      </div>
      <div class="container"> 
        <div class="all_tips">
            <ul>
              {%for post in posts%}
              <li> {{ post }}</li>
                      <br>
              {% endfor %}
            </ul>
        </div>
          <a href='{{url_for("create_tip")}}'>
            <div class="post_tip">
            <h2> POST A TIP ? </h2>
            </div>
          </a>
        </div>
      </div>
</section>

</center>
</body>
</html>