<!DOCTYPE html>
<html>
<head>
  <title> HomePage </title>
</head>
<body>

  <div>
      <h3> {{ name }} </h3>
    <p><a href="{{url_for('log_out')}}"> log out ? </a></p>
  </div>
    <p>stuff & stuff </p>
  <div class="everything">
      <div class="box">
        <h1> Tips : </h1>
      </div>
      <div class="container"> 
        <div class="all_tips">
            <ul>
              {%for post in posts%}
              <li> {{ post }}</li>
                      <br>
              {% endfor %}
            </ul>
        </div>
          <a href='{{url_for("create_tip")}}'>
            <div class="post_tip">
            <h2> POST A TIP ? </h2>
            </div>
          </a>
        </div>
      </div>

</body>
</html>